.product-card {
  width: 250px;         /* Smaller, consistent width */
  margin: auto;         /* Center horizontally in its column */
  border-radius: 12px;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
}

.product-card:hover {
  transform: scale(1.02);
}


.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}

.product-image {
     width: 100%;
    max-width: 50px;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
}
